<!DOCTYPE html>
<head xmlns:position="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <title>300 movie review</title>
    <link rel="stylesheet" href="../css/styles.css"/>
</head>
<body>
<div class="outer-container">
 <div class="inner-container">
    <div class="header">
        <h1><font size="6">Movie Review:<span class="redtext"> 300</span> </font></h1>
        <h3><font size="6">By Dudley Storey</font></h3>
        <h5><font size="4">Monday March 12, 2007</font> </h5>
    </div>
     <div id="par1">
     <p>

         <div class="container">
         <img src="../images/tree-of-death.jpg" height="100" width="99"/>
     </div>
         <span class="helvetica"><span class="T">T</span>he great, desperate, one-sided battles of history</span> – the Alamo, Rorke’s Drift,
         Iwo Jima – <span class="helvetica">are quickly drawn into myth</span>.</br> And it is through film, that most modern
    of myth-making mediums, that the oldest heroic battle of all, that of a handful</br> of
    Spartans against the Persian army at Thermopylae, has been turned into <em>300</em>,</br>
         the movie that opened this weekend</br>
     </div>

<div id="par2">
<P> As in Roberto Rodriguez’s Sin City, director Zack Snyder has created a homage to Frank Miller’s original graphic novel, right down</P>
to the brushstrokes of blood. Visually, the film is a</br>
wonder: it continues and improves upon the </br>
respectful treatment that graphic novels have</br>
achieved in film in the last decade (starting with</br>
X-Men), using computer graphics seamlessly,</br>
at the level of art. This is where the technology </br>
should be: not to create clean, glittering spaceships</br>
in the darkness of space,but to achieve</br>
a majesty and field of vision thatwould otherwise
be impossible,</br>or ruinously expensive,
to film, a way </br>of transporting art
from the printed pageto </br>celluloid
    honestly and compellingly.</br> </p>
<div id="images1">
    <img src="../images/comparison.jpg" align="right"/>
 </div>
</div>
     
     <div id="par3">
<p>
    From the beginning, the Spartan Dilionarrates (Davide Wenham) the birth, training, and ascension of King Leonidas(Gerad Butler),</br>
    the leader who is fated to lead his men into the Hot Gates. The film does not shirk from showing us the Spartans</br>
    as flawed, tragic heroes: prideful, brutal and cold, the Spartan warriors are callous killing machines, glorying </br>
    in battle and death, despising weakness and pity. It is only on the battlefield that their emotional true selves, their</br>
    regrets and loves, visibly flicker to the surface before being snuffed out by death.
</p>
     </div>

     <div id="par4">
<p>
    And it is in death – death in battle – that the Spartans seek their glory. Indeed, it is their wolfish eagerness for it, the sheer exuberance</br>
    they take in expressing every sinew, every muscle, every skill they have in violent carnage, that is the hallmark of the movie,</br>
    both horrifying and exhilarating. The editing, stunt and camera work are a marvel, soaking the screen in testosterone,</br>
    the battle scenes balletic bloodletting filmed in proportions befitting Greek heroes (probably assisted by the fact </br>
    that I saw the film in an IMAX theatre).
</p>

     </div>
<div id="par5">
<p>
    Snyder has expanded Miller’s original vision, adding more narrative
    before the battle and dividing the movie from the moment of the arrival</br>
    of Xerxes emissary in Sparta, from whence he threatens all of Greece,
    between political intrigue at home (Queen Gorgo’s (Lena Headey) attempts </br>
    to convince the Spartan council to send reinforcements to her husband) and
    the action of King Leonidas </br>
    (Gerard Butler) bodyguard on the field of battle, simultaneously</br>
    adding tension and slowing the movie.</p>
     </div>

     <div id="par6">
<p>
    The weaknesses of the comic – particularly in dialogue – are also writ large on screen. It is not for warrior-kings to be eloquent: the</br>
    battle speeches are stirring, pithy, and suitably laconic, but Gorgo’s speeches (added by scriptwriters Snyder, Kurt Johnstad </br>
    and Michael Gordon) are a poor fit.
</p>
     </div>

     <div id="xerxes">
<img src="../images/xerxes.jpg" height="211" width="350"/>
     </div>

     <div id="par7">
     <p>With such an epic scope – and, let it be said, with</br>
        Frank Miller’s own tendency for fascistic</br>
        plotlines (1) – it is tempting to interpret 300 as a</br>
        modern allegory. A lot of ink has been spilled in recent weeks in</br>
        an attempt to draw the actions of</br>
        men 2,500 years dead into parallel with modern</br>
        life: indeed, with the United States currently</br>
        engaged in battle with a significant portion</br>
        of the Middle East, it is almost demanded that the</br>
        reviewer do so.
     </div>
</p>
     <div id="par8">
<p align="left">
    To some degree the movie encourages this</br>
    debate: the battle of the Greeks against the</br>
    Persians is explicitly described as the struggle of rationality, democracy, and freedom against mysticism and tyranny.</br>
    Conveniently, it avoids the uncomfortable truth of Western history: while the drafted Persian army is shown quite literally </br>
    under the lash, 300 does little to make the viewer aware that the flower of our own democracy was equally grown on the bodies of slave</br>
    labor.
</p>
     </div>

     <div id="par9">
<p>
    But George W. Bush is not Xerxes, any more than he is Leonidas. The army that opposes the Greeks is</br>
    Persian, not Iraqi. And the Persians, not the Greeks, are the invaders here.</br>
</p>
     </div>
<p>
    The movie has also been critiqued for pitting white, heterosexual, attractive Greeks against Persians who are uniformly dark,</br>
    exotic, and often grotesque. Part of this is historical whitewashing: Spartans were pederasts, at least from our cultural</br>
    perspective. Part of it is historical truth: the Persian empire of Xerxes covered Iran, Syria, and parts of Asia and Northern</br>
    Africa, and drew from the ethnic groups that lived in (and continued to inhabit) those lands. Another part is the attraction / repulsion</br>
    the West has had with “Orientalism” since at least the Romantic era, if not the time of the Greeks. And more importantly,</br>
    perhaps, is an excellent point made in Maryann (“the flick filosopher”) Johanson’s <link>review</link> of the film that deserves to be quoted in full:</br>
</p>
     <div id="par10">
<p>
    “This exists in its own kind of mythic space much like the one that all ancient literature lived in for its listeners. Did</br>
    the Persian king Xerxes really have monsters and orc-ninjas among his troops? Of course not. But that’s how it may</br>
    have felt to the defenders of the Hot Gates, the long narrow pass that Leonidas and his 300 soldiers held for three days</br>
    against an army of one million: terrifying and unknowable. Was Xerxes a giant? Of course not. But that’s probably</br>
    what he felt like to the men facing his wrath magnified by a million.”</br>
</p>
     </div>

    <div id="par11">
<p>
    In other words, both the graphic novel and the film seek to recreate the psychological realism of the battle of the Hot Gates, not</br>
    the retelling by Herodotus. At the same time, the film is very much aware of the power of myth: Dilios, as he narrates the birth</br>
    and triumph of his king and countrymen, is already mythologizing the battle, little more than a year old. Tellingly, Xerxes’ gravest</br>
    threat against Leonidas is not his death, but that with the triumph of the Persians he will obliterate the very memory of the battle,</br>
    and of Sparta itself.</br>
</p>
    </div>

    <div id="par12">
<p>
300 is a movie that barely seeks to rise above entertainment. Its lessons are sparse: a few men in the right place and the right time</br>
    can make a difference. Courage has meaning. Myth is larger than any one of us. Accepted as such – and, as </br>
    one reviewer put it, as “a spectacle of ass-kickin’”, 300 is a great time, and a fine movie.</br>
     <div id="cliff">
    <img src="../images/cliff.jpg" height="120" width="600"/>
     </div>
    </div>
</div>
</div>

</body>
</html>