<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stormy weather</title>
    <link rel="stylesheet" href="../css/Styles2.css"/>
</head>
<body>
<div class="container2">
 <div id="ech">
     <h1> Stormy weather</h1>
    </div>

<div id="phone">
    <img src="../images/cellphone-icon-png-white-6.png" height="70" width="80"/>
</div>

<div id="ipad">
    <img src="../images/desktop-xxl.png" height="60" width="60"/>
</div>
<div class="text-block">
        <p>Life is bare, gloom</br>
        mis'ry everywhere.stormy</br>
        weather. Just can't get my</br>
        poor self together. i'm</br> weary all the time,so</br> weary
        all the time.</p>

        When he went away the </br> the blues walked in and</br> met</br> me.
        If he strays aay old </br> rockin chair will get me
</div>
</div>
</body>
</html>
